@import "../node_modules/bootstrap/scss/bootstrap";

.meny1 {
  background-image: url("/src/img/hexagon-3337447_1280.jpeg");
}

.me-auto {
  text-decoration: none;
  color: rgb(255, 213, 0);
}

body {
  background-color: black;
  color: rgb(199, 15, 15);
}